# Flutter/Dart/Pub related
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.dart_tool/

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Podfile.lock

# Android related
android/.gradle/
android/app/build/
android/build/

# MacOS related
macos/Pods/
macos/Runner.xcworkspace/

# Linux related
linux/build/

# Windows related
windows/build/

# File created by Android Studio
.idea/

# File created by IntelliJ
.idea/

# VS Code settings
.vscode/

# Flutter generated
*.dart_tool/
*.flutter-plugins
*.flutter-plugins-dependencies
